# Dependencies
node_modules/
package-lock.json

# Strapi
.tmp/
.cache/
build/
dist/
public/uploads/

# Environment Variables
.env
.env.local

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Files
.DS_Store
Thumbs.db
